h1 {
    text-align: center;
}

body {
    background-color: #333238;
    color: white;
}

img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

.game-sales-figures {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
}

.game-sales-figures tbody tr {
    border-bottom: 2px solid #434248;
    border-right: 2px solid #434248;
    border-left: 2px solid #434248;
    border-top: 2px solid #434248;
}

blockquote {
    font-style: italic;
}

.center-table {
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    border-spacing: 20px;
}

#quotes-section {
    text-align: center;
}


#links-section {
    text-align: center;
}

li {
    list-style-type: none;
}

a:hover {
    color:aqua;
}